body{
    background-color: rgb(43, 43, 43);
 
}

.box{
    background-color: rgba(109, 206, 241, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 5px 30px rgb(202, 202, 202);
    color: white;
}
fieldset{
    border: 3px solid black;
}
legend{
    background-color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    
}
.inputBox {
    position: relative;

}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.laberInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;

}
.inputUser:focus ~ .laberInput,
.inputUser:valid ~ .laberInput{
    top: -20px;
    font-size: 12px;
    color: black;
}
#submit {
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    transition: .5s;
    background-color: green;
}