/**{} */

.Logo {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: rgb(25, 18, 32);
}

h1 {
    color: #3996ad;
}

.color1 {
    background-color: #ededed;
}

input[type='file'] {
    display: none;
}

label {
    background-color: black;
    color: white;
    border-radius: 5px;
}





.rodo {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodo h1 {
    font-size: 8vh;
    text-transform: uppercase;
}

footer {
    width: 100%;
    min-height: 250px;
    background: #444;
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: #fff;
    margin-bottom: 20px;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #ddd;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #fff;
}

.boxs p {
    color: #fff;
    text-align: justify;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
















































@media(max-width:1000px) {

    footer {
        flex-direction: column;
    }
    footer .boxs {
        width: 100%;      
        text-align: center;
    }
    footer .boxs:nth-child(4) {
        width: 100%;
    }
} 

